@import "tailwindcss";

@theme {
  --height-main: 100vh;
}

/* Start Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

::-webkit-scrollbar-thumb:active {
  background: #374151;
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #3d4652 #2a2a2a;
}
/* End Custom Scrollbar Styles */
